.wrapper {
    display: grid;
    place-content: center;
    text-align: left;
    gap: 40px;
}

#quotes {
    display: grid;
    place-content: center;
    text-align: left;
    gap: 20px;
}

.quotes {
    display: flex;
        
    gap: 2px;
    height: fit-content;
}

.quotes-div {
    display: grid;
}