<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Template</title>
    <link rel="stylesheet" href="static/book.css">
</head>

<body>
    <div id="hidden">

    </div>
    <div class="flex">
        <div class="wrapper">
            <div id="overhead">
                <span>The Alchemist</span>
                <span id="page-number"></span>
            </div>
            <div id="page"></div>
            <div id="buttons">
                <button id="next-page" class="page-buttons">next page</button>
                <button id="previous-page" class="page-buttons">previous page</button>
            </div>
        </div>

    </div>
    <script src="static/book.js"></script>
</body>

</html>